
/* DataTables: Filter Inputs hübscher */
.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 8px;
}


/* Globale Styles */
body {
  font-family: Arial, sans-serif;
}

/* Footer fixiert unten */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Input Sicherheits-Reset */
input, textarea {
  outline: none;
}
